.pagetitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: #333;
	font-weight: bold;
}
.thumbtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
.imagetitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #000000;
}
